@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /*colors*/
  --primary-color: #1a1a1b;
  --secondary-color: #f8f9fa;
  --accent-color: #c5a059;

  --background-color: #f9fafb;
  --text-color: #333333;

  /*fonts*/
  --primary-font: "Bebas Neue", sans-serif;
  --secondary-font: "Roboto", sans-serif;

  --heading-1: 36px;
  --heading-2: 28px;
  --heading-3: 24px;
  --paragraph: 16px;
  --small-txt: 12px;

  --line-height: 1.5;
  --letter-spacing: 0.5px;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
}

p {
  font-family: var(--secondary-font);
  color: var(--text-color);
  font-size: var(--paragraph);
}

a {
  text-decoration: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--secondary-font);
  font-size: var(--small-txt);
}
